*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    background: #f0f2f5;
    overflow: hidden;
}
.overall-container{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    background: hsl(214, 39%, 93%);
  
}

.icon-2{
    display: none;
    width: 100%;
}
nav{
    width:3vw;
    height: 10vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}
nav img{
    width: 45px;
    height: 7vh;
    border-radius: 50%;
    margin-bottom: 3rem;
   
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.chat-container{
    width: 30vw;
    height: 97vh;
    background-color: #fff;
    padding: 10px;

   

}

.input{
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    border-bottom: 4px solid green;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background: hsl(210, 3%, 88%);

}

.input input{
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
     background: hsl(210, 3%, 88%);
}

.btn{
    margin-top: 8px;
}
.all{
    width: 3vw;
    height: 3.8vh;
    border-radius: 17px;
    border: none;
    font-weight: bold;
    background: #b4e7cd;
    color: #008090;
    cursor: pointer;
}
.un-btn{
    width: 5vw;
    height: 4vh;
    border-radius: 15px;
    border: none;
    color: hsl(210, 4%, 39%);
    font-weight: bold;
    cursor: pointer;
}
.chat-box{
    height: 87vh;
    margin-top: 1rem;
    overflow: scroll;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
   border-radius: 2px;
   background-color: #30593b;
}
::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
    background-color: #7dd896;
}
.chat-area{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    border-top: -1 solid hsl(208, 10%, 65%);
    border-bottom: -1 solid hsl(208, 10%, 65%);
    cursor: pointer;
}

.chat-area:hover{
    background-color:hsl(208, 15%, 81%) ;
}
.chat-area img{
    width:35px;
    height: 5vh;
    border-radius: 50%;
}

span{
   padding: 7.6px 4.8px 4.8px;
   background-color: #25d366;
     margin-left: 20rem; 
    border-radius: 30%;
    color: #ffffff;
    font-size: 12px;
    z-index: 1;
} 

#name{
   font-size: 16px;
   font-weight: bold;
   color: hsl(0, 0%, 25%);
   margin-top: 0.5rem;
}
#text{
    font-weight: 500;
    font-size: 14px;
    color:hsl(207, 6%, 28%) ;
}
.chat-display-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 100vh;
    padding-bottom: 70px;
}
.chat-display-cont img{
    margin-top: 4rem;
}

.chat-display-cont button{
     margin-top: 2rem;
    text-align: center;
     height: 10vh;
     width: 18vw;
     border-radius: 20px;
     border: none;
     font-size: 16px;
     font-weight:600;
     color: #fffff6;
     background-color:#008069;
     cursor: pointer;
}

@media (max-width: 765px) {
    nav{
        display: none;
    }
    
 .overall-container{
    width: 100%;
 }
 .chat-container{
    width: 100%;
 }
.icon-2{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left:9rem ;
    height: 40px;
}
.img-icon{
    transform: translateX(-150px);
    margin-top: 2.5rem;
}
.img-2{
    width: 45px;
    height: 7vh;
    border-radius: 50%;
    margin-bottom: 3rem;
    
   
}

 .all{
    width: 10vw;
 }
 .un-btn{
    width: 20vw;
    height: 5vh;
 }
 .chat-display-cont{
    display: none;
 }
}
